@font-face {
    font-family: "Oswald_regular";
    src: url(../fonts/Oswald-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Oswald_light";
    src: url(../fonts/Oswald-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Source_sans_light";
    src: url(../fonts/SourceSansPro-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Source_Sans_regular";
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Source_sans_extra_light";
    src: url(../fonts/SourceSansPro-ExtraLight.ttf);
    font-weight: 100;
}


@font-face {
    font-family: "Source_sans_bold";
    src: url(../fonts/SourceSansPro-Bold.ttf);
    font-weight: 700;
}


.mt-2 {
    margin-top: 10%;
}

.mb-2 {
    margin-bottom: 10%;
}


#desktop {
    display: block;
    margin: 0;
    padding: 0;
}

#mobile {
    display: none;
    margin: 0;
    padding: 0;
}

body {
    padding: 2vh 2vw;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

.container_filas {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.container_columnas {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.flex_al_centro {
    align-items: center;
    justify-content: center;
}


body ul {
    list-style: none;
}

body a,
body p,
body li,
body small {
    color: gray;
    font-family: "Source_sans_light", sans-serif;
    font-weight: 300;
}

body h4 {
    color: black;
    font-family: "Source_sans_light", sans-serif;
    font-weight: 300;

}

strong {
    color: black;
    font-family: "Source_sans_bold", sans-serif;
    font-weight: 700;
}

h1 {
    font-family: "Oswald_regular", sans-serif;
    letter-spacing: 0.3em;
    font-weight: 300;
}

h2,
h3 {
    font-family: "Oswald_light", sans-serif;
    letter-spacing: 0.2em;
    font-weight: 400;
    display: inline-block;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
}

header h1 {
    font-family: "Oswald_light", sans-serif;
    text-transform: uppercase;
}

header h2 {
    border-left: 1px solid rgb(80, 80, 80);
    padding-left: 15px;
    font-family: "Source_sans_light", sans-serif;
    color: gray;
    font-size: 1em;
}


header ul {
    border-left: 1px solid rgb(80, 80, 80);
    padding-left: 15px;
    font-size: 0.9em;
}

#foto_perfil {
    width: 20%;
    margin: 0 5%;
}

#foto_perfil a{
    margin: 0;
    padding: 0;
}

#foto_perfil img {
    width: 80%;
    border: 0.7em solid lightgray;
    border-radius: 50%;
}

#info_principal_header {
    margin: 0;
}

aside {
    width: 40%;
    display: inline-block;
    margin: 0;
    padding: 0 5%;
}

aside section {
    margin-bottom: 50px;
}


aside section h3 {
    text-transform: uppercase;
    text-align: center;
}

.progress_bar_container {
    width: 100%;
    background-color: lightgray;
}

.progress_bar {
    height: 3px;
    background-color: lightslategray;
}

.noventa {
    width: 90%;
}

.setenta_y_cinco {
    width: 75%;
}

.cincuenta {
    width: 50%;
}

.veinticinco {
    width: 25%;
}

.container_rrss a p {
    word-break: break-all;
    font-size: 0.8em;
    margin: 0;
}

.container_rrss img {
    max-width: 30px;
    margin: 0;
}

.container_rrss a div {
    margin-right: 20px;
    margin-bottom: 10px;
}

.container_rrss a p {
    position: relative;
    top: 7px;
}

#container_software {
    text-align: center;
}

.fila img {
    max-width: 30px;
}

main {
    margin: 0;
    display: inline-block;
}

main h3 {
    text-transform: uppercase;
}

main .border_left h4 {
    margin-bottom: 0;
}

.border_left h4::before{
    display: inline-block;
    position: relative;
    left: -0.8vw;
    content: ' ';
    background-image: url('../img/icos/icons_Circulo.svg');
    background-size: contain;
    height: 10px;
    width: 10px;
}


.border_left {
    border-left: 2px solid rgb(80, 80, 80);
    padding-left: 20px;
}

.border_left p {
    padding-right: 10%;
}

.titular_separador_main img,
.titular_separador_main h3 {
    display: inline-block;
}

.titular_separador_main img {
    position: relative;
    left: -0.5vw;
    max-width: 1em;
    margin-right: 20px;
}

#descarga {
    border: 5px solid lightgray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#descarga img {
    position: relative;
    top: 20px;
    left: 34px;
    height: 30px;
}

#descarga p{
    text-align: center;
    position: relative;
    top: 3px;
}


#descarga_mobile {
    border: 5px solid lightgray;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#descarga_mobile img {
    position: relative;
    top: 35px;
    height: 50px;
}

#descarga_mobile p{
    position: relative;
    top: 20px;
}




#mobile p,
#mobile a,
#mobile h1,
#mobile h2,
#mobile h3,
#mobile h4 {
    text-align: center;
}

#mobile ul {
    margin-left: 0;
    padding-left: 0%;
}

#foto_perfil_mobile {
    width: 50%;
}

#foto_perfil_mobile a{
    margin: 0;
    padding: 0;
}

#foto_perfil_mobile img {
    width: 100%;
    border: 0.7em solid lightgray;
    border-radius: 50%;
}

.container_de_titular_con_circulos{
    margin: 7vh 0 3vh 0;
}

.primer_container_titular{
    margin-top: 0 !important;
}

.circulito{
    margin: 0 7%;
    width: 5px;
    height: 5px;
    border: 2px solid lightslategray;
    border-radius: 50%;
    display: inline-block;
}

.marca_linea_historica{
    position: relative;
    left: -50px;
}

#contenedor_perfil_ampliado {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#img_perfil_ampliada{
    width: 30%;
    margin: 0;
    padding: 0;
}

#img_perfil_ampliada img{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 5px solid white;
}

#boton_cerrar{
    position: relative;
    top: 50px;
    left: 90%;
    width: 5%;
}

/*
#boton_cerrar a{
margin: 0;
padding: 0;
}
*/

#boton_cerrar a img {
    border: none;
}


@media screen and (min-width: 1000px) {
    #desktop {
        display: block;
    }

    #mobile {
        display: none;
    }

}


@media screen and (max-width: 999px) {
    #desktop {
        display: none;
    }

    #mobile {
        display: block;
    }

    #boton_cerrar{
        top: 25px;
        width: 10%;
    }
}